.App {
  font-family: sans-serif;
  text-align: center;
  background-color: indigo;
  color: white;
  align-items: center;
  justify-content: center;
}
.title {
  background-color: lightgoldenrodyellow;
  color: black;
}

.item-list {
  border: 1px solid green;
  border-radius: 12px;
  padding: 20px;
  margin: 40px 200px;
  height: 40vh;
}

.image {
  width: 100px;
}
